<section class="about-section" id="about">
<div class="container">
    <p class="about-section-label">tradition and love</p>
<h2 class="about-section-title" id="how-its-made">how it’s made?</h2>

<div class="about-section-box">

    <div class="about-section-picture">
      <img class="about-section-image" src="../src/images/MobilePhoto/cowMobile.png" 
        alt="фото корови" 
        width="280"
        srcset="../src/images/MobilePhoto/cowMobile.webp 1x, ../src/images/MobilePhoto/cowMobile@2x.webp 2x, ../src/images/MobilePhoto/cowMobile@2x.png 2x, ../src/images/MobilePhoto/cowMobile@3x.webp 3x, ../src/images/MobilePhoto/cowMobile@3x.png 3x, ../src/images/TabletPhoto/cowTablet.webp 1x, ../src/images/TabletPhoto/cowTablet@2x.webp 2x, ../src/images/TabletPhoto/cowTablet@2x.png 2x, ../src/images/TabletPhoto/cowTablet@3x.webp 3x, ../src/images/TabletPhoto/cowTablet@3x.png 3x,
        ../src/images/DesktopPhoto/cowDesktop.webp 1x, ../src/images/DesktopPhoto/cowDesktop@2x.webp 2x, ../src/images/DesktopPhoto/cowDesktop@2x.png 2x, ../src/images/DesktopPhoto/cowDesktop@3x.webp 3x, ../src/images/DesktopPhoto/cowDesktop@3x.png 3x "/>
    </div>

   <div class="about-section-description">
    <h3 class="visually-hidden"></h3>
      <p class="about-section-text-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about-section-text-2">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
      
      </p>
      
      <p class="about-section-text-3">
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="about-section-button" data-about-open>Read more
        <!-- <svg width="8" height="9" class="about-section-button-arrow" style="outline: none;">
        <polyline points="0,0 4, 4,0 8" fill="transparent" stroke-width="1.5" />
      </svg> -->
        <svg width="7" height="10" class="about-section-button-arrow">
        <use href="../src/images/symbol-defs.svg#icon-vector-button"></use></svg>
      </button>
    </div>
</div>

</div>
<!-- modal  -->
<div class="about-section-backdrop is-hidden" data-about>
<div class="about-section-modal">
  <button type="button" class="about-section-modal-button" data-about-close><svg class="about-section-modal-close" width="8"
      height="8">
      <use href="../src/images/symbol-defs.svg#icon-close"></use>
    </svg></button>
  <div class="about-section-modal-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur debitis aliquam vitae voluptatibus corrupti odit a incidunt totam nam placeat cumque ducimus quam at hic sint eligendi, error magni minima!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur debitis aliquam vitae voluptatibus corrupti odit a
    incidunt totam nam placeat cumque ducimus quam at hic sint eligendi, error magni minima!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur debitis aliquam vitae voluptatibus corrupti odit a
    incidunt totam nam placeat cumque ducimus quam at hic sint eligendi, error magni minima!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur debitis aliquam vitae voluptatibus corrupti odit a
    incidunt totam nam placeat cumque ducimus quam at hic sint eligendi, error magni minima!
  </div>
</div>
</div>
</section>