<!DOCTYPE html>
<html lang="ru">
<section class="about-section">
    <div class="container">
        <p class="about-section-label">tradition and love</p>
        <h2 class="about-section-title">how it’s made?</h2>

        <div >
            <div>
                
                    <img src="../src/images/MobilePhoto/CowMobile.png" alt="фото корови" width="280"
                    srcset="../src/images/MobilePhoto/CowMobile.webp 1x, ../src/images/MobilePhoto/CowMobile@2x.webp 2x, ../src/images/MobilePhoto/CowMobile@2x.png 2x, ../src/images/MobilePhoto/CowMobile@3x.webp 3x, ../src/images/MobilePhoto/CowMobile@3x.png 3x, ../src/images/TabletPhoto/CowTablet.webp 1x, ../src/images/TabletPhoto/CowTablet@2x.webp 2x, ../src/images/TabletPhoto/CowTablet@2x.png 2x, ../src/images/TabletPhoto/CowTablet@3x.webp 3x, ../src/images/TabletPhoto/CowTablet@3x.png 3x,
        ../src/images/DesktopPhoto/CowDesktop.webp 1x, ../src/images/DesktopPhoto/CowDesktop@2x.webp 2x, ../src/images/DesktopPhoto/CowDesktop@2x.png 2x, ../src/images/DesktopPhoto/CowDesktop@3x.webp 3x, ../src/images/DesktopPhoto/CowDesktop@3x.png 3x "/>
        
            </div>

            <div>
                <h3 class="visually-hidden"></h3>
                <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button">Read more</button>
            </div>
        </div>

    </div>
</section>

</html>