<div class="conteiner">
    <section class="advantages">
    <!-- <h1 lang="eng" class="visually-hidden" >Advateges</h1> -->
    <ul>
        <li class="advantages-item">
            <picture class="advantages-picture">
                <source srcset="
                        ./images/MobilePhoto/iconAdvantades1.webp 1x,
                        ./images/MobilePhoto/iconAdvantades1@2x.webp 2x, 
                        ./images/MobilePhoto/iconAdvantades1@3x.webp 3x" type="image/webp" />
                <img srcset="
                        ./images/MobilePhoto/iconAdvantades1.png 1x,
                        ./images/MobilePhoto/iconAdvantades1@2x.png 1x,
                        ./images/MobilePhoto/iconAdvantades1@3x.png 1x" alt="Фотография" width="33px" />
            </picture>
            
            <span class="advantages-span">721</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        
        <li class="advantages-item">
            <picture class="advantages-picture">
                <source srcset="
                            ./images/MobilePhoto/iconAdvantades2.webp 1x,
                            ./images/MobilePhoto/iconAdvantades2@2x.webp 2x, 
                            ./images/MobilePhoto/iconAdvantades2@3x.webp 3x" type="image/webp" />
                <img srcset="
                            ./images/MobilePhoto/iconAdvantades2.png 1x,
                            ./images/MobilePhoto/iconAdvantades2@2x.png 1x,
                            ./images/MobilePhoto/iconAdvantades2@3x.png 1x" alt="Фотография" width="33px" />
            </picture>
            
            <span class="advantages-span">16kg</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>

        <li class="advantages-item">
            <picture class="advantages-picture">
                <source srcset="
                            ./images/MobilePhoto/iconAdvantades3.webp 1x,
                            ./images/MobilePhoto/iconAdvantades3@2x.webp 2x, 
                            ./images/MobilePhoto/iconAdvantades3@3x.webp 3x" type="image/webp" />
                <img srcset="
                            ./images/MobilePhoto/iconAdvantades3.png 1x,
                            ./images/MobilePhoto/iconAdvantades3@2x.png 1x,
                            ./images/MobilePhoto/iconAdvantades3@3x.png 1x" alt="Фотография" width="33px" />
            </picture>
            
            <span class="advantages-span">84</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
    </ul>
</section>
</div>
