<section class="advantages">
    <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-item">
            
            <span class="advantages-span icon-udder">721</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        
        <li class="advantages-item">
            
            <span class="advantages-span icon-apple">16kg</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>

        <li class="advantages-item">
        
            <span class="advantages-span icon-heart">84</span>
            
            <div class="advantages-text">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
    </ul>
    </div>
</section>

