<section class="advantages appear-point">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-span icon-udder benefits__inner">
          <span class="benefits__number-udder">721</span>
        </div>

        <div class="advantages-text">
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>

      <li class="advantages-item">
        <div class="advantages-span icon-apple benefits__inner">
          <div class="apple-text">
            <span class="benefits__number-apple">16</span>
            <span>kg</span>
          </div>
        </div>

        <div class="advantages-text">
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>

      <li class="advantages-item">
        <div class="advantages-span icon-heart benefits__inner">
          <span class="benefits__number-heart">84</span>
        </div>

        <div class="advantages-text">
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
