    <section class="contact">
        <div class="container">
            <h2 class="visually-hidden">Our schedule and contacts</h2>

            <div class="contact-position">
                <ul class="contact-list">
                    <li class="contact-item" id="contacts">
                        <span class="contact-decor cafe">Cafe</span>

                        <div class="contact-border">
                            <h3 class="contact-title">Chicago</h3>
                            <div>
                            <span class="contact-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                            </div>
                        </div> 

                        <div class="contact-border">
                            <div class="contact-days">
                                <h3 class="contact-title">Monday - Friday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00 PM">06:00 AM - 10:00 PM</time>
                            </div>
                            <div class="contact-days">
                                <h3 class="contact-title">Saturday - Sunday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00PM">08:00 AM - 16:00 PM</time>
                            </div>
                        </div>

                        <ul class="contact-meta">
                            <li><a class="contact-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                            <li><a class="contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>

                    <li class="contact-item">
                        <span class="contact-decor foodtruck">Foodtruck</span>

                        <div class="contact-border">
                            <h3 class="contact-title">Los Angeles</h3>
                            <div>
                            <span class="contact-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                            </div>
                        </div> 

                        <div class="contact-border">
                            <div class="contact-days">
                                <h3 class="contact-title">Monday - Friday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00PM">06:00 AM - 10:00 PM</time>
                            </div>
                            <div class="contact-days">
                                <h3 class="contact-title">Saturday - Sunday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00PM">08:00 AM - 16:00 PM</time>
                            </div>
                        </div>

                        <ul class="contact-meta">
                            <li><a class="contact-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                            <li><a class="contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>

                    <li class="contact-item">
                        <span class="contact-decor cafe">Cafe</span>

                        <div class="contact-border">
                            <h3 class="contact-title">New York</h3>
                            <div>
                            <span class="contact-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                            </div>
                        </div> 

                        <div class="contact-border">
                            <div class="contact-days">
                                <h3 class="contact-title">Monday - Friday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00PM">06:00 AM - 10:00 PM</time>
                            </div>
                            <div class="contact-days">
                                <h3 class="contact-title">Saturday - Sunday</h3>
                                <time class="contact-time" datetime="06:00AM-10:00PM">08:00 AM - 16:00 PM</time>
                            </div>
                        </div>

                        <ul class="contact-meta">
                            <li><a class="contact-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                            <li><a class="contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="contacts-button">
                    <button type="button" class="button-pink__location" data-modal-open>
                        <span class="location-text">Our Locations</span>
                        <svg class="icon-arrow" width="8px" height="16px">
                            <use href="../src/images/symbol-defs.svg#icon-vector-button-white"></use>
                        </svg>
                    </button>
                    <button type="button" class="button-white__franchise data-franchise-open" data-franchise-open>
                        <span class="location-text">Franchise</span>
                        <svg class="icon-arrow" width="8px" height="16px">
                            <use href="../src/images/symbol-defs.svg#icon-vector-button"></use>
                        </svg>
                    </button>
                </div>
        </div>
    </div>
    </section>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
