<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
    <title>Заголовок страницы</title>
    <link rel="shortcut icon" href="images/favicon.png" type="images/png">
  </head>
  <body>
    <section class="contact">
        <div class="container">
            <h2 class="visually-hidden">Our schedule and contacts</h2>
            <div>
            <ul class="contact-list">
                <li class="contact-item">
                    <div class="contact-decor">Cafe</div>
                </li>
                    <ul class="contact-info">
                        <li class="contact-schedule">
                            <h3 class="contact-title">Chicago</h3>
                            <p class="contact-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>

                        <li class="contact-schedule">
                            <h3 class="contact-title">Monday - Friday</h3>
                            <time datetime="06:00-10:00">06:00 AM - 10:00 PM</time>
                            <h3 class="contact-title">Saturday - Sunday</h3>
                            <time datetime="06:00-10:00">06:00 AM - 10:00 PM</time>
                        </li>

                        <ul class="contact-meta">
                            <li><a class="contact-tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                            <li><a class="contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </ul>
            </ul>   
            </div>
        </div>
    </section>





    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
