<section class="customers-reviews">
  <div class="container">
    <div class="slider">
      <div class="slider-item">
        <img
          class="slider-image"
          src="./images/DesktopPhoto/review1.jpg"
          alt="Customer photo"
        />

        <div class="review-wrapper">
          <p class="slider-review">
            <span class="first-word">Nullam</span> viverra consectetuer. Quisque
            cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="decorative-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="customer-data">Emily, Los Angeles</p>
      </div>
      <div class="slider-item">
        <img src="./images/DesktopPhoto/review2.jpg" alt="Customer photo" />

        <div class="review-wrapper">
          <p class="slider-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="decorative-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="customer-data">Emily, Los Angeles</p>
      </div>
      <div class="slider-item">
        <img src="./images/DesktopPhoto/review3.jpg" alt="Customer photo" />

        <div class="review-wrapper">
          <p class="slider-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="decorative-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="customer-data">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
