<section class="customers-reviews">
  <div class="slider">
    <div class="slider-item">
      <div class="slider-image"></div>
      <div class="review-wrapper">
        <p class="slider-review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="decorative-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <p class="customer-data">Emily, Los Angeles</p>
    </div>
    <div class="slider-item">
      <div class="slider-image"></div>
      <div class="review-wrapper">
        <p class="slider-review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="decorative-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <p class="customer-data">Emily, Los Angeles</p>
    </div>
    <div class="slider-item">
      <div class="slider-image"></div>
      <div class="review-wrapper">
        <p class="slider-review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="decorative-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <p class="customer-data">Emily, Los Angeles</p>
    </div>
  </div>
</section>
