<section class="customers-reviews">
  <div class="container">
    <div class="slider">
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ./images/MobilePhoto/review1.webp    1x,
              ./images/MobilePhoto/review1@2x.webp 2x,
              ./images/MobilePhoto/review1@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/MobilePhoto/review1.jpg    1x,
              ./images/MobilePhoto/review1@2x.jpg 2x,
              ./images/MobilePhoto/review1@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review1.webp    1x,
              ./images/TabletPhoto/review1@2x.webp 2x,
              ./images/TabletPhoto/review1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review1.jpg    1x,
              ./images/TabletPhoto/review1@2x.jpg 2x,
              ./images/TabletPhoto/review1@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review1.webp    1x,
              ./images/DesktopPhoto/review1@2x.webp 2x,
              ./images/DesktopPhoto/review1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review1.jpg    1x,
              ./images/DesktopPhoto/review1@2x.jpg 2x,
              ./images/DesktopPhoto/review1@3x.jpg 3x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/MobilePhoto/review1.jpg"
            class="slider-image"
            alt="Customer photo"
            width="85"
          />
        </picture>
        <div class="review-wrapper">
          <p class="slider-review">
            <span class="review-text"
              >I’m a foodie. The kitchen is my happy place. I tried this ice
              cream for the first time yesterday. I am definitely going to buy
              more. This ice cream is creamy and delicious. It is so fresh!
            </span>
          </p>
        </div>
        <span class="decorative-dots"></span>
        <p class="customer-data">Sharlotta, New York</p>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ./images/MobilePhoto/review2.webp    1x,
              ./images/MobilePhoto/review2@2x.webp 2x,
              ./images/MobilePhoto/review2@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/MobilePhoto/review2.jpg    1x,
              ./images/MobilePhoto/review2@2x.jpg 2x,
              ./images/MobilePhoto/review2@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review2.webp    1x,
              ./images/TabletPhoto/review2@2x.webp 2x,
              ./images/TabletPhoto/review2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review2.jpg    1x,
              ./images/TabletPhoto/review2@2x.jpg 2x,
              ./images/TabletPhoto/review2@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review2.webp    1x,
              ./images/DesktopPhoto/review2@2x.webp 2x,
              ./images/DesktopPhoto/review2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review2.jpg    1x,
              ./images/DesktopPhoto/review2@2x.jpg 2x,
              ./images/DesktopPhoto/review2@3x.jpg 3x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/MobilePhoto/review2.jpg"
            class="slider-image"
            alt="Customer photo"
            width="85"
          />
        </picture>
        <div class="review-wrapper">
          <p class="slider-review">
            <span class="review-text">
              Simply delicious with amazing care and quality. The flavors are
              decadent and creamy. I can’t wait to try them all! 5 stars! I
              love, love, love it!!! I'm crazy about it!!!
            </span>
          </p>
        </div>
        <span class="decorative-dots"></span>
        <p class="customer-data">Amanda, California</p>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ./images/MobilePhoto/review3.webp    1x,
              ./images/MobilePhoto/review3@2x.webp 2x,
              ./images/MobilePhoto/review3@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/MobilePhoto/review3.jpg    1x,
              ./images/MobilePhoto/review3@2x.jpg 2x,
              ./images/MobilePhoto/review3@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review3.webp    1x,
              ./images/TabletPhoto/review3@2x.webp 2x,
              ./images/TabletPhoto/review3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/TabletPhoto/review3.jpg    1x,
              ./images/TabletPhoto/review3@2x.jpg 2x,
              ./images/TabletPhoto/review3@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review3.webp    1x,
              ./images/DesktopPhoto/review3@2x.webp 2x,
              ./images/DesktopPhoto/review3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/DesktopPhoto/review3.jpg    1x,
              ./images/DesktopPhoto/review3@2x.jpg 2x,
              ./images/DesktopPhoto/review3@3x.jpg 3x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/MobilePhoto/review3.jpg"
            class="slider-image"
            alt="Customer photo"
            width="85"
          />
        </picture>
        <div class="review-wrapper">
          <p class="slider-review">
            <span class="review-text">
              Excellent product and delivery. Ordered Wednesday. Delivered to
              our front porch on Friday. Ice cream was perfectly frozen. Can't
              wait to enjoy! Thank you very much!
            </span>
          </p>
        </div>
        <span class="decorative-dots"></span>
        <p class="customer-data">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
