<section class="gallery">
  <h2 class="gallery-title">Gellery</h2>
  <div class="gallery-hover">
    <ul class="gallery-list container">
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/1.webp    1x,
              ./images/Gallery/DesktopPhoto/1@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/1.webp    1x,
              ./images/Gallery/TabletPhoto/1@2x.webp 2x,
              ./images/Gallery/TabletPhoto/1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/1.webp    1x,
              ./images/Gallery/MobilePhoto/1@2x.webp 2x,
              ./images/Gallery/MobilePhoto/1@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/1.jpg    1x,
              ./images/Gallery/DesktopPhoto/1@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/1@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/1.jpg    1x,
              ./images/Gallery/TabletPhoto/1@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/1@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/1.jpg    1x,
              ./images/Gallery/MobilePhoto/1@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/1@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/1.jpg"
            alt="зеленое мороженое"
            class="gallery-picture1 gallery-picture gallery-appear"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/2.webp    1x,
              ./images/Gallery/DesktopPhoto/2@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/2.webp    1x,
              ./images/Gallery/TabletPhoto/2@2x.webp 2x,
              ./images/Gallery/TabletPhoto/2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/2.webp    1x,
              ./images/Gallery/MobilePhoto/2@2x.webp 2x,
              ./images/Gallery/MobilePhoto/2@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/2.jpg    1x,
              ./images/Gallery/DesktopPhoto/2@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/2@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/2.jpg    1x,
              ./images/Gallery/TabletPhoto/2@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/2@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/2.jpg    1x,
              ./images/Gallery/MobilePhoto/2@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/2@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/2.jpg"
            alt="Розовый рожок"
            class="gallery-picture gallery-picture2 gallery-appear"
          />
        </picture>
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/3.webp    1x,
              ./images/Gallery/DesktopPhoto/3@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/3.webp    1x,
              ./images/Gallery/TabletPhoto/3@2x.webp 2x,
              ./images/Gallery/TabletPhoto/3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/3.webp    1x,
              ./images/Gallery/MobilePhoto/3@2x.webp 2x,
              ./images/Gallery/MobilePhoto/3@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/3.jpg    1x,
              ./images/Gallery/DesktopPhoto/3@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/3@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/3.jpg    1x,
              ./images/Gallery/TabletPhoto/3@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/3@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/3.jpg    1x,
              ./images/Gallery/MobilePhoto/3@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/3@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/3.jpg"
            alt="Малиновое мороженое"
            class="gallery-picture gallery-picture3 gallery-appear"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/4.webp    1x,
              ./images/Gallery/DesktopPhoto/4@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/4@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/4.webp    1x,
              ./images/Gallery/TabletPhoto/4@2x.webp 2x,
              ./images/Gallery/TabletPhoto/4@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/4.webp    1x,
              ./images/Gallery/MobilePhoto/4@2x.webp 2x,
              ./images/Gallery/MobilePhoto/4@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/4.jpg    1x,
              ./images/Gallery/DesktopPhoto/4@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/4@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/4.jpg    1x,
              ./images/Gallery/TabletPhoto/4@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/4@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/4.jpg    1x,
              ./images/Gallery/MobilePhoto/4@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/4@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/4.jpg"
            alt="Мороженое с голубикой"
            class="gallery-picture big gallery-picture4 gallery-appear"
          />
        </picture>
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/5.webp    1x,
              ./images/Gallery/DesktopPhoto/5@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/5@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/5.webp    1x,
              ./images/Gallery/TabletPhoto/5@2x.webp 2x,
              ./images/Gallery/TabletPhoto/5@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/5.webp    1x,
              ./images/Gallery/MobilePhoto/5@2x.webp 2x,
              ./images/Gallery/MobilePhoto/5@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/5.jpg    1x,
              ./images/Gallery/DesktopPhoto/5@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/5@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/5.jpg    1x,
              ./images/Gallery/TabletPhoto/5@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/5@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/5.jpg    1x,
              ./images/Gallery/MobilePhoto/5@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/5@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/5.jpg"
            alt="Девушка с пломбиром"
            class="gallery-picture small gallery-picture5 gallery-appear"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/6.webp    1x,
              ./images/Gallery/DesktopPhoto/6@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/6@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/6.webp    1x,
              ./images/Gallery/TabletPhoto/6@2x.webp 2x,
              ./images/Gallery/TabletPhoto/6@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/6.webp    1x,
              ./images/Gallery/MobilePhoto/6@2x.webp 2x,
              ./images/Gallery/MobilePhoto/6@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/6.jpg    1x,
              ./images/Gallery/DesktopPhoto/6@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/6@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/6.jpg    1x,
              ./images/Gallery/TabletPhoto/6@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/6@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/6.jpg    1x,
              ./images/Gallery/MobilePhoto/6@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/6@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/6.jpg"
            alt="Фруктовое мороженое"
            class="gallery-picture gallery-picture6 gallery-appear"
          />
        </picture>
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/7.webp    1x,
              ./images/Gallery/DesktopPhoto/7@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/7@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/7.webp    1x,
              ./images/Gallery/TabletPhoto/7@2x.webp 2x,
              ./images/Gallery/TabletPhoto/7@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/7.webp    1x,
              ./images/Gallery/MobilePhoto/7@2x.webp 2x,
              ./images/Gallery/MobilePhoto/7@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/7.jpg    1x,
              ./images/Gallery/DesktopPhoto/7@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/7@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/7.jpg    1x,
              ./images/Gallery/TabletPhoto/7@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/7@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/7.jpg    1x,
              ./images/Gallery/MobilePhoto/7@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/7@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/7.jpg"
            alt="Оранжевое мороженое"
            class="gallery-picture gallery-picture7 gallery-appear"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/8.webp    1x,
              ./images/Gallery/DesktopPhoto/8@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/8@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/8.webp    1x,
              ./images/Gallery/TabletPhoto/8@2x.webp 2x,
              ./images/Gallery/TabletPhoto/8@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/8.webp    1x,
              ./images/Gallery/MobilePhoto/8@2x.webp 2x,
              ./images/Gallery/MobilePhoto/8@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/8.jpg    1x,
              ./images/Gallery/DesktopPhoto/8@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/8@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/8.jpg    1x,
              ./images/Gallery/TabletPhoto/8@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/8@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/8.jpg    1x,
              ./images/Gallery/MobilePhoto/8@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/8@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/8.jpg"
            alt="Разноцветное мороженое"
            class="gallery-picture gallery-picture8 gallery-appear"
          />
        </picture>
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/9.webp    1x,
              ./images/Gallery/DesktopPhoto/9@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/9@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/9.webp    1x,
              ./images/Gallery/TabletPhoto/9@2x.webp 2x,
              ./images/Gallery/TabletPhoto/9@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/9.webp    1x,
              ./images/Gallery/MobilePhoto/9@2x.webp 2x,
              ./images/Gallery/MobilePhoto/9@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/9.jpg    1x,
              ./images/Gallery/DesktopPhoto/9@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/9@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/9.jpg    1x,
              ./images/Gallery/TabletPhoto/9@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/9@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/9.jpg    1x,
              ./images/Gallery/MobilePhoto/9@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/9@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/9.jpg"
            alt="Кофейное мороженое"
            class="gallery-picture gallery-picture9 gallery-appear"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="">
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/10.webp    1x,
              ./images/Gallery/DesktopPhoto/10@2x.webp 2x,
              ./images/Gallery/DesktopPhoto/10@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/10.webp    1x,
              ./images/Gallery/TabletPhoto/10@2x.webp 2x,
              ./images/Gallery/TabletPhoto/10@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/10.webp    1x,
              ./images/Gallery/MobilePhoto/10@2x.webp 2x,
              ./images/Gallery/MobilePhoto/10@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/Gallery/DesktopPhoto/10.jpg    1x,
              ./images/Gallery/DesktopPhoto/10@2x.jpg 2x,
              ./images/Gallery/DesktopPhoto/10@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/Gallery/TabletPhoto/10.jpg    1x,
              ./images/Gallery/TabletPhoto/10@2x.jpg 2x,
              ./images/Gallery/TabletPhoto/10@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/Gallery/MobilePhoto/10.jpg    1x,
              ./images/Gallery/MobilePhoto/10@2x.jpg 2x,
              ./images/Gallery/MobilePhoto/10@3x.jpg 3x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/Gallery/DesktopPhoto/10.jpg"
            alt="Пирожное с мороженым"
            class="gallery-picture gallery-picture10 gallery-appear"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="gallery">
  <picture class="container gallery">
    <div class="gallery-images rectangle1">
      <img srcset="./images/gallery/Rectangle1.jpg 1x, ./images/gallery/Rectangle1@2.jpg 2x"
        src="./images/gallery/Rectangle1.jpg" alt="">
    </div>

    <div class="gallery-images rectangle2">
      <img src="./images/gallery/Rectangle 2.jpg" alt="">
    </div>

    <div class="gallery-images rectangle3">
      <img src="./images/gallery/Rectangle 3.jpg" alt="">
    </div>

    <div class="gallery-images rectangle4">
      <img src="./images/gallery/Rectangle 4.jpg" alt="">
    </div>

    <div class="point gallery-images rectangle5">
      <img src="./images/gallery/Rectangle 5.jpg" alt="">
    </div>

    <div class="gallery-images rectangle6">
      <img src="./images/gallery/Rectangle 6.jpg" alt="">
    </div>

    <div class="gallery-images rectangle7">
      <img src="./images/gallery/Rectangle 7.jpg" alt="">
    </div>

    <div class="gallery-images rectangle8">
      <img src="./images/gallery/Rectangle 8.jpg" alt="">
    </div>

    <div class="gallery-images rectangle9">
      <img src="./images/gallery/Rectangle 9.jpg" alt="">
    </div>

    <div class="gallery-images rectangle10">
      <img src="./images/gallery/Rectangle 10.jpg" alt="">
    </div> -->
