<section class="gallery">
  <picture class="container gallery">
    <div class="gallery-images rectangle1">
      <img
      srcset="./images/gallery/Rectangle1.jpg 1x, ./images/gallery/Rectangle1@2.jpg 2x"
      src="./images/gallery/Rectangle1.jpg" alt="">
    </div>

    <div class="gallery-images rectangle2">
      <img 
      src="./images/gallery/Rectangle 2.jpg" alt="">
    </div>

    <div class="gallery-images rectangle3">
      <img src="./images/gallery/Rectangle 3.jpg" alt="">
    </div>

    <div class="gallery-images rectangle4">
      <img src="./images/gallery/Rectangle 4.jpg" alt="">
    </div>

    <div class="point gallery-images rectangle5">
      <img src="./images/gallery/Rectangle 5.jpg" alt="">
    </div>

    <div class="gallery-images rectangle6">
      <img src="./images/gallery/Rectangle 6.jpg" alt="">
    </div>

    <div class="gallery-images rectangle7">
      <img src="./images/gallery/Rectangle 7.jpg" alt="">
    </div>

    <div class="gallery-images rectangle8">
      <img src="./images/gallery/Rectangle 8.jpg" alt="">
    </div>

    <div class="gallery-images rectangle9">
      <img src="./images/gallery/Rectangle 9.jpg" alt="">
    </div>

    <div class="gallery-images rectangle10">
      <img src="./images/gallery/Rectangle 10.jpg" alt="">
    </div>
    
    
    
    
    
    
    
    
    
    


    <!-- <source
      srcset="
        ./images/DesktopPhoto/generalDesktop.webp    1x,
        ./images/DesktopPhoto/generalDesktop@2x.webp 2x,
        ./images/DesktopPhoto/generalDesktop@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ./images/TabletPhoto/generalTablet.webp    1x,
        ./images/TabletPhoto/generalTablet@2x.webp 2x,
        ./images/TabletPhoto/generalTablet@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/MobilePhoto/generalMobile.webp    1x,
        ./images/MobilePhoto/generalMobile@2x.webp 2x,
        ./images/MobilePhoto/generalMobile@3x.webp 3x
      "
      type="image/webp"
      media="(max-width:767px)"
    />
    <source
      srcset="
        ./images/DesktopPhoto/generalDesktop.jpg    1x,
        ./images/DesktopPhoto/generalDesktop@2x.jpg 2x,
        ./images/DesktopPhoto/generalDesktop@3x.jpg 3x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ./images/TabletPhoto/generalTablet.jpg    1x,
        ./images/TabletPhoto/generalTablet@2x.jpg 2x,
        ./images/TabletPhoto/generalTablet@3x.jpg 3x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/MobilePhoto/generalMobile.jpg    1x,
        ./images/MobilePhoto/generalMobile@2x.jpg 2x,
        ./images/MobilePhoto/generalMobile@3x.jpg 3x
      "
      media="(max-width:767px)"
    />

    <img
      src="./images/DesktopPhoto/generalDesktop.jpg"
      alt="Фотогалерея"
      class="gallery-picture"
    /> -->
  </picture>
</section>
