<section class="hero">
    <div class="container hero-container">
    <div class="hero-thumb">
    <div class="hero-title-box">
        <h1 class="hero-title"><span class="hero-title-label">ice cream made with </span>passion</h1>
        <a href="#products" class="hero-button ">Products</a>
        <a href="#about" class="hero-button hero-button-pink">How it’s made?</a>
    </div>

    <h2 id="outlets" class="visually-hidden">Our outlets</h2>
    <ul aria-labelledby="outlets" class="hero-list" title="our outlets">
        <li class="hero-item">
            <p class="hero-item-number">16</p>
            <h3 class="hero-item-unit">cafes</h3>
        </li>
        <li class="hero-item">
            <p class="hero-item-number">23</p>
            <h3 class="hero-item-unit">food trucks</h3>
        </li>
    </ul>
    </div>
    <h2 class="visually-hidden">Сomposition of our product</h2>
    <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et</p>
    <a class="hero-link"></a>
    </div>
</section>
<!-- <div id="products">
    <h2>Products</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
</div>
<div id="about">
        <h2>about</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolorem!</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
</div> -->