<section class="products container">
  <p class="products-label">100% natural</p>
  <h2 class="products-title">products</h2>
  <div>
    <ul class="products-list">
      <li class="products-item">
        <article class="products-card pink">
          <img
            class="products-card__picture"
            src="../src/images/MobilePhoto/iceCreamMobile.png"
            alt=""
          />
          <h3 class="productrs-card__title">ice cream</h3>
          <svg class="icon" width="20" height="20">
            <use href="../src/images/sprite.svg#Group"></use>
          </svg>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-card__button">
            <svg class="icon" width="40" height="40">
              <use href="../src/images/sprite.svg#circle-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products-item">
        <article class="products-card yellow">
          <img
            class="products-card__picture"
            src="../src/images/MobilePhoto/iceCofeeMobile.png"
            alt=""
          />
          <h3 class="productrs-card__title">ice coffee</h3>
          <svg class="icon" width="20" height="20">
            <use href="../src/images/sprite.svg#Group"></use>
          </svg>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-card__button">
            <svg class="icon" width="40" height="40">
              <use href="../src/images/sprite.svg#circle-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products-item">
        <article class="products-card green">
          <img
            class="products-card__picture"
            src="../src/images/MobilePhoto/milkshakeMobile.png"
            alt=""
          />
          <h3 class="productrs-card__title">milkshakes</h3>
          <svg class="icon" width="20" height="20">
            <use href="../src/images/sprite.svg#Group"></use>
          </svg>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-card__button">
            <svg class="icon" width="40" height="40">
              <use href="../src/images/sprite.svg#circle-right"></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
