<section class="products container">
  <p class="products-label">100% natural</p>
  <h2 class="products-title">products</h2>
  <div>
    <article class="products-card">
      <img
        class="products-card__picture"
        src="../src/images/MobilePhoto/iceCramMobile.png"
        alt=""
      />
      <h3 class="productrs-card__title">ice cream</h3>
      <svg class="icon" width="20" height="20">
        <use href="../src/images/sprite.svg#Vector"></use>
      </svg>
      <p class="products-card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="products-card__button">
        <svg class="icon" width="40" height="40">
          <use href="../src/images/sprite.svg#circle-right"></use>
        </svg>
      </button>
    </article>
  </div>
</section>
