<section class="products container">
  <div>
    <p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-list">
      <li class="products-item">
        <article class="products-card pink">
          <div class="product-positions">
            <picture>
                <source srcset="../src/images/MobilePhoto/IceCreamMobile.webp 1x, ../src/images/MobilePhoto/IceCreamMobile@2x.webp 2x, ../src/images/MobilePhoto/IceCreamMobile@3x.webp 3x" type="image/webp" media="(max-width: 767px)" />
                <source srcset="../src/images/TabletPhoto/iceCreamTablet.webp 1x, ../src/images/TabletPhoto/iceCreamTablet@2x.webp 2x, ../src/images/TabletPhoto/iceCreamTablet@3x.webp 3x" type="image/webp" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/iceCreamDesktop.webp 1x, ../src/images/DesktopPhoto/iceCreamDesktop@2x.webp 2x, ../src/images/DesktopPhoto/iceCreamDesktop@3x.webp 3x" type="image/webp" media="(min-width: 1280px) " />
                <source srcset="../src/images/MobilePhoto/IceCreamMobile.png 1x, ../src/images/MobilePhoto/IceCreamMobile@2x.png 2x, ../src/images/MobilePhoto/IceCreamMobile@3x.png 3x" media="(max-width: 767px) " />
                <source srcset="../src/images/TabletPhoto/iceCreamTablet.png 1x, ../src/images/TabletPhoto/iceCreamTablet@2x.png 2x, ../src/images/TabletPhoto/iceCreamTablet@3x.png 3x" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/iceCreamDesktop.png 1x, ../src/images/DesktopPhoto/iceCreamDesktop@2x.png 2x, ../src/images/DesktopPhoto/iceCreamDesktop@3x.png 3x" media="(min-width: 1280px) " />
                <img class="products-card__pictur" src="../src/images/MobilePhoto/iceCreamMobile.png" alt="icecream">
            </picture>

            <h3 class="product-title">ice cream</h3>
            <div class="products-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
            <p class="product-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-card__button" type="button">
              <svg class="prodbtn-icon" width="30" height="30">
                <use href="../src/images/symbol-defs.svg#icon-Vector-button"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products-item">
        <article class="products-card yellow">
          <div class="product-positions">
            <picture>
                <source srcset="../src/images/MobilePhoto/IceCofeeMobile.webp 1x, ../src/images/MobilePhoto/IceCofeeMobile@2x.webp 2x, ../src/images/MobilePhoto/IceCofeeMobile@3x.webp 3x" type="image/webp" media="(max-width: 767px)" />
                <source srcset="../src/images/TabletPhoto/IceCofeeTablet.webp 1x, ../src/images/TabletPhoto/IceCofeeTablet@2x.webp 2x, ../src/images/TabletPhoto/IceCofeeTablet@3x.webp 3x" type="image/webp" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/iceCofeeDesktop.webp 1x, ../src/images/DesktopPhoto/iceCofeeDesktop@2x.webp 2x, ../src/images/DesktopPhoto/iceCofeeDesktop@3x.webp 3x" type="image/webp" media="(min-width: 1280px) " />
                <source srcset="../src/images/MobilePhoto/IceCofeeMobile.png 1x, ../src/images/MobilePhoto/IceCofeeMobile@2x.png 2x, ../src/images/MobilePhoto/IceCofeeMobile@3x.png 3x" media="(max-width: 767px) " />
                <source srcset="../src/images/TabletPhoto/IceCofeeTablet.png 1x, ../src/images/TabletPhoto/IceCofeeTablet@2x.png 2x, ../src/images/TabletPhoto/IceCofeeTablet@3x.png 3x" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/iceCofeeDesktop.png 1x, ../src/images/DesktopPhoto/iceCofeeDesktop@2x.png 2x, ../src/images/DesktopPhoto/iceCofeeDesktop@3x.png 3x" media="(min-width: 1280px) " />
                <img class="products-card__pictur" src="../src/images/MobilePhoto/iceCreamMobile.png" alt="icecoffee">
            </picture>
            <h3 class="product-title">ice coffee</h3>
      <div class="products-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
            <p class="product-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-card__button" type="button">
              <svg class="prodbtn-icon" width="30" height="30">
                <use href="../src/images/symbol-defs.svg#icon-Vector-button"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products-item">
        <article class="products-card green">
          <div class="product-positions">
            <picture>
                <source srcset="../src/images/MobilePhoto/milkshakeMobile.webp 1x, ../src/images/MobilePhoto/milkshakeMobile@2x.webp 2x, ../src/images/MobilePhoto/milkshakeMobile@3x.webp 3x" type="image/webp" media="(max-width: 767px)" />
                <source srcset="../src/images/TabletPhoto/milkshakeTablet.webp 1x, ../src/images/TabletPhoto/milkshakeTablet@2x.webp 2x, ../src/images/TabletPhoto/milkshakeTablet@3x.webp 3x" type="image/webp" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/milkshakeDesktop.webp 1x, ../src/images/DesktopPhoto/milkshakeDesktop@2x.webp 2x, ../src/images/DesktopPhoto/milkshakeDesktop@3x.webp 3x" type="image/webp" media="(min-width: 1280px) " />
                <source srcset="../src/images/MobilePhoto/milkshakeMobile.png 1x, ../src/images/MobilePhoto/milkshakeMobile@2x.png 2x, ../src/images/MobilePhoto/milkshakeMobile@3x.png 3x" media="(max-width: 767px) " />
                <source srcset="../src/images/TabletPhoto/milkshakeTablet.png 1x, ../src/images/TabletPhoto/milkshakeTablet@2x.png 2x, ../src/images/TabletPhoto/milkshakeTablet@3x.png 3x" media="(max-width:1279px) " />
                <source srcset="../src/images/DesktopPhoto/milkshakeDesktop.png 1x, ../src/images/DesktopPhoto/milkshakeDesktop@2x.png 2x, ../src/images/DesktopPhoto/milkshakeDesktop@3x.png 3x" media="(min-width: 1280px) " />
                <img class="products-card__pictur" src="../src/images/MobilePhoto/milkshakeMobile.png" alt="milkshake">
            </picture>
            <h3 class="product-title">milkshakes</h3>
                   <div class="products-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
            <p class="product-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-card__button" type="button">
              <svg class="prodbtn-icon" width="30" height="30">
                <use href="../src/images/symbol-defs.svg#icon-Vector-button"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
