.advantages {
  padding-top: 65px;
  padding-bottom: 140px;

  background-color: $bg-advantages-footer;
}

.advantages-list {
  @include media_min(768px) {
    display: flex;
    justify-content: center;
  }
}

.advantages-item {
  max-width: 230px;

  @include media_max(767px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  @include media_min(768px) {
    margin-bottom: 0;

    width: 180px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @include media_min(1280px) {
    width: 330px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages-span {
  display: block;

  margin-bottom: 10px;

  font-family: $secondary-font-family;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $accent-color;

  @include media_min(768px) {
    margin-bottom: 13px;

    font-size: 48px;
    line-height: 1.15;
  }

  @include media_min(1280px) {
    margin-bottom: 13px;

    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-span::before {
  display: block;
  height: 50px;
  background-repeat: no-repeat;

  margin-bottom: 16px;

  @include media_min(768px) {
    margin-bottom: 36px;
  }

  @include media_min(1280px) {
    margin-bottom: 40px;
  }
}

.icon-udder::before {
  content: '';
  background-image: url('../images/MobilePhoto/iconAdvantades1.png');
  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/MobilePhoto/iconAdvantades1@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: url('../images/MobilePhoto/iconAdvantades1@3x.png');
  }
}

.apple-text {
  display: flex;
}

.icon-apple::before {
  content: '';
  background-image: url('../images/MobilePhoto/iconAdvantades2.png');
  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/MobilePhoto/iconAdvantades2@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: url('../images/MobilePhoto/iconAdvantades2@3x.png');
  }
}

.icon-heart::before {
  content: '';
  background-image: url('../images/MobilePhoto/iconAdvantades3.png');
  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/MobilePhoto/iconAdvantades3@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: url('../images/MobilePhoto/iconAdvantades3@3x.png');
  }
}

.advantages-text {
  font-style: normal;
  font-size: 12px;
  line-height: 1.7;

  color: $black-text-color;

  @include media_min(768px) {
    font-weight: 700;
    font-size: 14px;
  }

  @include media_min(1280px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
