.advantages {
  background-color: $bg-advantages-footer;
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.advantages-item {
  width: 230px;

  &:not(:last-child) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;

    width: 180px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 330px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages-picture {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.advantages-span {
  display: block;

  margin-bottom: 10px;

  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;

    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 13px;

    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-text {
  font-style: normal;
  font-size: 12px;
  line-height: 1.7;

  color: $black-text-color;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
