// Можливо потрібно щось пофіксити , але працює, тільки на мобільній версії те обрізане коло я причепила до правого краю, бо інакше не гарно

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-header;

  @media screen and (max-width: $max-mobile) {
    min-width: 320px;
    height: 502px;

    background-image: url(../images/MobilePhoto/heroMobile.png),
      url(../images/MobilePhoto/circleMobile.png);
    background-repeat: no-repeat;
    background-size: 171px, 289px;
    background-position: top 92px left 117px, top 83px right 0px;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    min-width: $tablet;
    height: 399px;

    background-image: url(../images/TabletPhoto/tastyTablet.png),
      url(../images/TabletPhoto/bioEcoTablet.png),
      т url(../images/TabletPhoto/heroTablet.png),
      url(../images/TabletPhoto/circleTablet.png);
    background-repeat: no-repeat;
    background-size: 168px, 124px, 171px, 289px;
    background-position: top 266px left 566px, top 245px left 34px,
      top 63px left 378px, top 31px right 307px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 1280px;
    height: 665px;

    background-image: url(../images/DesktopPhoto/tastyDesktop.png),
      url(../images/DesktopPhoto/bioEcoDesktop.png),
      url(../images/DesktopPhoto/heroDesktop.png),
      url(../images/DesktopPhoto/circleDesktop.png);
    background-repeat: no-repeat;
    background-size: 293px, 188px, 236px, 538px;
    background-position: top 433px left 878px, top 429px left 77px,
      top 108px left 594px, top 52px right 475px;
  }
}
