.scrollup {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  background-color: $secondary-text-color;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-menu;
  }

  &-svg {
    width: 40px;
    height: 40px;
    fill: $accent-color;
  }

  &:hover .scrollup-svg,
  &:focus .scrollup-svg {
    fill: $bg-header;
  }
}
