// уточнююча розмітка для хедера
.header-buy {
  @media screen and (min-width: $tablet) {
    padding-bottom: 15px;
  }
}

// розмітка продуктів
.buy {
  padding: 30px 15px;

  background-color: rgba(255, 198, 212, 0.8);

  &-tittle {
    position: relative;
    margin-bottom: 100px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    color: $accent-color;
  }

  .buy-button {
    position: absolute;
    top: 205px;

    border: 1px solid transparent;
    border-radius: 22px;
    font-family: 'DM Sans';
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    padding: 10px 37px;
    color: $accent-color;
    background-color: $white-text-color;
    cursor: pointer;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.31;
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    &-icecream {
      left: 29%;
    }

    &-icecoffee {
      left: 45%;
    }

    &-milkshake {
      left: 60%;
    }
  }
}

.buy-button-order {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: 'DM Sans';
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  padding: 10px 37px;
  color: $accent-color;
  background-color: $white-text-color;
  cursor: pointer;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.31;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.example {
  background-color: $bg-header;

  &__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    height: 100%;

    border-right: 1px solid $bg-header;
    border-bottom: 1px solid $bg-header;
    border-left: 1px solid $bg-header;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
      1px 4px 6px rgba(0, 0, 0, 0);

    //   @include transition (box-shadow, border-color);
  }

  &__link:focus,
  &__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-color: $accent-color;
  }

  &__item {
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__link:focus .example__content,
  &__link:hover .example__content {
    background-color: rgba(33, 150, 243, 0.9);
  }

  &__tittle {
    margin: 0;
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.06em;

    text-align: center;

    color: $black-text-color;
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;

    text-align: center;

    color: $accent-color;

    opacity: 0;
  }

  &__link:focus .example__text,
  &__link:hover .example__text {
    opacity: 1;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
    height: 200px;
    text-align: center;
    background-color: black;

    @media screen and (min-width: 480px) {
      height: 330px;
    }

    @media screen and (min-width: 768px) {
      height: 290px;
    }

    @media screen and (min-width: 1280px) {
      height: 350px;
    }
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    // @include transition (transform);
  }

  &__specification {
    margin: 77px 24px;

    font-weight: normal;
    font-size: 26px;
    line-height: 1.56;

    text-align: center;

    color: pink;

    @media screen and (min-width: 768px) {
      margin: 49px 24px;
    }

    @media screen and (min-width: 1200px) {
      position: absolute;
      width: 322px;
      height: 168px;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link:focus .example__description,
  &__link:hover .example__description {
    transform: translateY(0);
  }

  /* TABLET */

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -50px;
      margin-right: -15px;
      margin-left: -15px;
    }

    &__item {
      display: inline-block;
      margin-top: 50px;
      margin-right: 15px;
      margin-left: 15px;

      height: auto;
      width: calc((100% - 4 * 15px) / 2);

      @media screen and (min-width: 1200px) {
        width: calc((100% - 6 * 15px) / 3);
      }
    }
  }
}

.example__photo {
  display: block;
  margin: 0 auto;
  // max-height: 100%;
}

.example__modal-form {
  &__checkbox-field {
    position: relative;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      padding-left: 36px;
    }
  }

  &__checkbox-text {
    padding-left: 21px;

    font-size: 12px;
    line-height: 1.2;

    @media screen and (min-width: 1200px) {
      height: 24px;
      padding-left: 0;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;

    background-color: #fff;
    border-color: black;

    // background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;

    // @include transition(background-color, border-color);

    @media screen and (min-width: 1200px) {
      left: 12px;
    }
  }

  /*ефект для фокуса чекбокса*/
  &__checkbox-input:focus + &__checkbox::after {
    border: 2px solid blue;
    border-radius: 2px;
    background-image: none;
  }

  &__checkbox-input:checked + &__checkbox::after {
    background-color: blue;
    // background-image: url(../images/icon-check.svg);
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}
