.buy {
    padding: 30px 15px;

    &-tittle {
        position: relative;
        margin-bottom: 80px;

        font-family: 'Titan One';
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: $main-letter-spacing;
        text-transform: uppercase;
        color: $accent-color;
    }

    .buy-button {
        position: absolute;

        border: 1px solid transparent;
        border-radius: 22px;
        font-family: 'DM Sans';
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.29;
        padding: 10px 37px;
        color: $accent-color;
        background-color: $white-text-color;
        cursor: pointer;
        transition-property: background-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        @media screen and (min-width: $tablet) {
          font-size: 16px;
          line-height: 1.31;
        }
      
        &:hover,
        &:focus {
          background-color: #ecebeb;
        }

        &-icecream {
            top: 90px;
            left: 29%;
        }

        &-icecoffee {
            top: 90px;
            left: 45%;
        }

        &-milkshake {
            top: 90px;
            left: 60%;
        }
    }
}

.buy-button-order {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid transparent;
    border-radius: 22px;
    font-family: 'DM Sans';
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    padding: 10px 37px;
    color: $accent-color;
    background-color: $white-text-color;
    cursor: pointer;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.31;
    }
  
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
}



.example {
    color: #757575;
      
    &__item:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
      
    &__link {
      display: block;
      height: 100%;

      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
        1px 4px 6px rgba(0, 0, 0, 0);
      
    //   @include transition (box-shadow, border-color);
    }
      
    &__link:focus,
    &__link:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
          border-color: pink;
    }
      
    &__content {
      padding: 20px 24px;
      background-color: #ffffff;
    }
      
    &__title {
      margin: 0;
      margin-bottom: 4px;

      font-weight: bold;
      font-size: 18px;
      line-height: 2;

      letter-spacing: 0.06em;

      text-align: center;
              
      color: #212121;
    }
      
    &__text {
        font-size: 16px;
        line-height: 1.875;

        text-align: center;
        
        color: #757575;
      }
      
    &__overlay {
        position: relative;
        overflow: hidden;
      }
      
    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
      
        // @include transition (transform);
      }
      
    &__specification {
        margin: 77px 24px;
        
        font-weight: normal;
        font-size: 26px;
        line-height: 1.56;

        text-align: center;
        
        color: pink;

        @media screen and (min-width: 768px) {
          margin: 49px 24px;
        }

        @media screen and (min-width: 1200px) {
          position: absolute;
          width: 322px;
          height: 168px;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
      
    &__link:focus .example__description,
    &__link:hover .example__description {
        transform: translateY(0);
      }

    /* TABLET */

    @media screen and (min-width: 768px) {
      &__list {
          display: flex;
          flex-wrap: wrap;
          margin-top: -30px;
          margin-right: -15px;
          margin-left: -15px;
        }
          
        &__item {
          display: inline-block;
          margin-top: 30px;
          margin-right: 15px;
          margin-left: 15px;
    
          height: auto;
          width: calc((100% - 4 * 15px) / 2);

          @media screen and (min-width: 1200px) {
            width: calc((100% - 6 * 15px) / 3);
          }
        }
  }
}