.contact {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFF5F6;
}
.container {
    width: 220px;
    padding: 43px 20px;

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    
    background-color: #fff;
}
.contact-list {

}

.contact-item {
    height: 427px;
    
    color: tomato;
}

.contact-decor {
    width: 80px;
    height: 16px;
    left: 70px;
    top: 5163px;

    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;

    background: #F0D1A5;
    border-radius: 4px;
}

.contact-info {

}

.contact-schedule {
    // padding-bottom: 25px;
    // margin-top: 25px;
    border-bottom: 1px solid #E1E1E1;
    color: black;
}

.contact-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;

    color: #000000;
}

.contact-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    
    color: #FFA5BA;
}


.contact-item {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px
      }
}

.contact-description {
 
    font-weight: 500;
    font-size: 12px;
    
    color: #907E82;
}

.contact-tel,
.contact-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5px;

    color: #907E82;
}

.contact-days {
    margin-bottom: 10px;

}
.contact-border {
    padding-top: 25px;
    padding-bottom: 25px;
}