.contact {
  background-color: $bg-advantages-footer;

  @media screen and (min-width: $desktop) {
    background: $bg-advantages-footer
      url('../images/DesktopPhoto/sectionDropDesktop.png') no-repeat 50% 100%;
  }
  @media screen and (min-resolution: 2dppx) {
    background: $bg-advantages-footer
      url('../images/DesktopPhoto/sectionDropDesktop@2x.png') no-repeat 50%
      99%;
    background-size: 100%;
  }
  @media screen and (min-resolution: 3dppx) {
    background: $bg-advantages-footer
      url('../images/DesktopPhoto/sectionDropDesktop@3x.png') no-repeat 50%
      99%;
    background-size: 100%;
  }
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    background-image: none;
  }
}

.contact-list {
  // margin-bottom: 55px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    // margin-bottom: 80px;
  }
  @media screen and (min-width: $desktop) {
    // margin-bottom: 85px;
  }
}

.contact-item {
  position: relative;
  top: -80px;

  margin-right: auto;
  margin-left: auto;
  
  padding: 43px 21px;

  background-color: white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
    
  
  @media screen and (min-width: 480px) and (max-width: 767px){
    width: 220px;
  }
  @media screen and (max-width: 767px) {
  &:not(:last-child) {
    margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 40px) / 3);
    padding: 50px 32px;
  }
  &:nth-child(1n) {
    @media screen and (min-width: $tablet) {
      margin-left: 0px;
    }
  }
  &:nth-child(3n) {
    @media screen and (min-width: $tablet) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 330px;
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    top: -110px;
    padding: 60px 45px;
  }
}

.contact-decor {
  display: flex;
  margin-bottom: 25px;

  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  font-family: $main-font-family;
  font-weight: $main-font-weight;
  letter-spacing: $main-letter-spacing;
  font-size: 12px;
  line-height: 22px;

  color: $white-text-color;

  border-radius: 4px;
}

.cafe {
  width: 80px;
  height: 16px;

  background-color: $bg-orange;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 14px;
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.foodtruck {
  width: 130px;
  height: 16px;
  background-color: $bg-green;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    width: 138px;
    height: 28px;

    font-size: 14px;
    border-radius: 6px;
  }
  @media screen and (min-width: $desktop) {
    width: 138px;
    height: 28px;

    font-size: 16px;
  }
}

.contact-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: $main-font-family;
  font-weight: $main-font-weight;

  color: $black-text-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.contact-description {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: 12px;
  line-height: 1.8px;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.contact-time {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  line-height: 22px;

  color: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.contact-tel,
.contact-mail {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: 12px;
  line-height: 1.5px;
  letter-spacing: $main-letter-spacing;

  color: #907e82;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.contact-days:not(:last-child) {
  margin-bottom: 10px;
}
.contact-border {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 30px;
  }
}

.contact-meta {
  display: flex;
  flex-direction: column;
}

.contacts-button {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;  
  }
}

.button-pink__location,
.button-white__franchise {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: 'DM Sans';

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.29;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 15px;
  }
}
}

.button-pink__location {
  @extend %button-pink;

  @media screen and (min-width: $tablet) {
    width: 190px;
  }
  @media screen and (min-width: $desktop) {
    width: 200px;
  }
}


.button-white__franchise {
  @extend %button-white;

  @media screen and (min-width: $tablet) {
    width: 175px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.location-text {
    margin-right: 8px;
  }
.icon-arrow {
    fill: none;
}

.icon-arrow:hover,
.icon-arrow:focus {
  stroke: $white-text-color;
  
}