.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  //overflow: visible;
  overflow: hidden;
  background: linear-gradient(
    $bg-advantages-footer 0%,
    $bg-advantages-footer 46%,
    $white-text-color 47%,
    $white-text-color 100%
  );

  @include media_min($tablet) {
    background: linear-gradient(
      $bg-advantages-footer 0%,
      $bg-advantages-footer 45%,
      $white-text-color 46%,
      $white-text-color 100%
    );
  }

  .gallery-title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.gallery-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media_max($mobile) {
    width: 100%;
  }

  .gallery-item {
    @include media_max($mobile) {
      width: 14%;

      &:nth-child(3) {
        width: 28%;
      }
    }

    &:not(:last-child) {
      margin-right: 2px;

      @include media_min($tablet) {
        margin-right: 4px;
      }

      @include media_min($desktop) {
        margin-right: 6px;
      }
    }

    &:nth-child(2) {
      margin-top: 8px;

      @include media_min($tablet) {
        margin-top: 17px;
      }

      @include media_min($desktop) {
        margin-top: 28px;
      }
    }

    &:nth-child(4) {
      margin-top: 15px;

      @include media_min($tablet) {
        margin-top: 33px;
      }

      @include media_min($desktop) {
        margin-top: 53px;
      }
    }

    &:nth-child(5) {
      margin-top: -11px;

      @include media_min($tablet) {
        margin-top: -25px;
      }

      @include media_min($desktop) {
        margin-top: -40px;
      }
    }

    & > picture {
      @include media_max($mobile) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 2px;

        @include media_min($tablet) {
          margin-bottom: 4px;
        }

        @include media_min($desktop) {
          margin-bottom: 6px;
        }
      }
    }

    .gallery-picture {
      border-radius: 8px;
      z-index: 0;
      position: relative;
      box-shadow: none;
      transition: transform 500ms ease-in-out;

      &:hover {
        transform: scale(1.2);
        transition: transform 250ms;
        z-index: 10;
        box-shadow: 0px 0px 8px 5px rgba(202, 206, 202, 1);
      }

      @include media_max($mobile) {
        width: 100%;
        &.small {
          width: 50%;
        }
      }

      @include media_min($tablet) {
        border-radius: 13px;
      }

      @include media_min($desktop) {
        border-radius: 19px;
      }
    }
  }
}

.gallery-picture1 {
  transform: translateY(-315%) translateX(-200%);
  transition: transform 250ms ease-in-out 250ms;

  @include media_min(768px) {
    transform: translateY(-255%) translateX(-200%);
  }
}

.gallery-picture2 {
  transform: translateY(-270%) translateX(-100%);
  transition: transform 250ms ease-in-out 500ms;

  @include media_min(768px) {
    transform: translateY(-210%) translateX(-100%);
  }
}

.gallery-picture3 {
  transform: translateY(150%) translateX(-150%);
  transition: transform 250ms ease-in-out 400ms;

  @include media_min(768px) {
    transform: translateY(195%) translateX(-150%);
  }
}

.gallery-picture4 {
  transform: translateY(-150%);
  transition: transform 250ms ease-in-out 2s;

  @include media_min(768px) {
    transform: translateY(-125%);
  }
}

.gallery-picture5 {
  transform: translateY(105%);
  transition: transform 250ms ease-in-out 2s;

  @include media_min(768px) {
    transform: translateY(150%);
  }

  @include media_min(1280px) {
    transform: translateY(130%);
  }
}

.gallery-picture6 {
  transform: translateY(-280%);
  transition: transform 250ms ease-in-out 2s;

  @include media_min(768px) {
    transform: translateY(-220%);
  }
}

.gallery-picture7 {
  transform: translateY(140%);
  transition: transform 250ms ease-in-out;

  @include media_min(768px) {
    transform: translateY(180%);
  }
}

.gallery-picture8 {
  transform: translateY(-245%) translateX(150%);
  transition: transform 250ms ease-in-out;

  @include media_min(768px) {
    transform: translateY(-190%) translateX(150%);
  }
}

.gallery-picture9 {
  transform: translateY(170%) translateX(-150%);
  transition: transform 250ms ease-in-out;

  @include media_min(768px) {
    transform: translateY(215%) translateX(-150%);
  }
}

.gallery-picture10 {
  transform: translateY(210%) translateX(200%);
  transition: transform 250ms ease-in-out;

  @include media_min(768px) {
    transform: translateY(255%) translateX(200%);
  }
}

.picture-appear {
  transform: translateY(0);
}
