.hero {
  padding-top: 137px;
  padding-bottom: 160px;

  background-color: $bg-header;

  @include media_max($max-mobile) {
    overflow-x: hidden;
  }

  @include media_min($tablet) {
    padding-top: 20px;
    padding-bottom: 33px;
  }

  @include media_min($desktop) {
    padding-top: 89px;
    padding-bottom: 56px;
  }

  &__container {
    position: relative;
  }

  // Позиціонування фонових картинок
  &__image {
    position: absolute;
    z-index: 3;
  }

  &__image-circle {
    right: -62px;
    bottom: -85px;
    z-index: 2;
    width: 346px;
    height: 346px;
    fill: $secondary-text-color;

    @include media_min($tablet) {
      right: 137px;
      bottom: 12px;
      width: 324px;
      height: 324px;
    }
    @include media_min($desktop) {
      right: 267px;
      bottom: 19px;
      width: 538px;
      height: 538px;
    }
  }

  &__image-main {
    right: 32px;
    bottom: -160px;

    @include media_min($tablet) {
      right: 247px;
      bottom: -33px;
    }
    @include media_min($desktop) {
      right: 450px;
      bottom: -56px;
    }
  }

  &__image-tasty {
    right: 34px;
    bottom: -33px;

    @include media_max($max-mobile) {
      display: none;
    }

    @include media_min($desktop) {
      right: 109px;
      bottom: -56px;
    }

    transform: translateY(100%);
    opacity: 0;

    animation: bounceInUp;
    animation-duration: 500ms;
    animation-delay: 750ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &__thumb {
    position: relative;
    z-index: 4;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media_min($tablet) {
      margin-bottom: 66px;
    }
    @include media_min($desktop) {
      margin-bottom: 112px;
    }
  }

  &__title-box {
    max-width: 220px;

    @include media_min($tablet) {
      max-width: 162px;
    }

    @include media_min($desktop) {
      max-width: 277px;
    }
  }

  &__title {
    color: $accent-color;

    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 0.958;
    text-transform: uppercase;
    font-weight: 400;

    margin-bottom: 20px;

    @include media_min($tablet) {
      font-size: 34px;
      line-height: 0.912;
    }

    @include media_min($desktop) {
      margin-bottom: 25px;
      font-size: 58px;
      line-height: 0.897;
    }
  }

  &__title-label {
    display: inline-block;

    color: $white-text-color;

    font-size: 26px;
    line-height: 1.15;
    font-weight: 400;

    @include media_min($tablet) {
      font-size: 22px;
      line-height: 1.14;
    }
    @include media_min($desktop) {
      font-size: 38px;
      line-height: 1.16;
    }
  }

  &__button {
    display: inline-block;
    padding-top: 8px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 13px;
    border-radius: 20px;
    cursor: pointer;

    font-size: 8px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;

    @include media_min($desktop) {
      padding-top: 13px;
      padding-right: 22px;
      padding-bottom: 13px;
      padding-left: 22px;

      font-size: 14px;
      line-height: 1.29;
    }
  }

  &__button-pink {
    @extend %button-pink;
  }

  &__button-white,
  &__link {
    @extend %button-white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item-number {
    position: relative;

    color: $accent-color;

    font-family: $secondary-font-family;
    font-size: 28px;
    line-height: 1.14;
    margin-left: auto;
    font-weight: 400;

    @include media_min($desktop) {
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &__item-number::after {
    @include media_min($tablet) {
      position: absolute;
      top: -2px;
      right: -7px;
      z-index: -1;

      background-image: url('../../src/images/svg/circle.svg');
      content: '';
      background-repeat: no-repeat;
      background-size: contain;

      width: 16px;
      height: 16px;
    }

    @include media_min($desktop) {
      top: -6px;
      right: -16px;
      width: 30px;
      height: 30px;
    }
  }

  &__item-unit {
    font-size: 8px;
    line-height: 10px;
    font-weight: 400;

    @include media_min($desktop) {
      font-size: 14px;
      line-height: 1.28;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link-thumb-flex {
    display: flex;
    align-items: flex-end;
    position: relative;

    @include media_max($max-mobile) {
      display: none;
    }
  }

  &__link-milk {
    border: 0px;
    outline: none;
    padding: 0px;
    background-color: transparent;
    transition: transform 250ms ease;

    height: 73px;

    @include media_min($desktop) {
      height: 124px;
    }
  }

  &__image-bio {
    position: absolute;
    bottom: 0;
    left: 0px;

    @include media_min($desktop) {
      left: -38px;
    }
  }

  &__text {
    margin-left: 120px;
    margin-bottom: 7px;
    max-width: 114px;
    height: 48px;
    overflow: hidden;

    font-size: 8px;
    line-height: 1.5;
    font-weight: 400;

    @include media_min($desktop) {
      max-width: 200px;
      height: 78px;
      margin-left: 180px;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 1.4;
    }

    scrollbar-width: thin;
    scrollbar-color: rgba(216, 162, 176, 0.4) rgba(248, 121, 151, 0.4);
  }

  &__text.is-shown {
    height: 78px;
    overflow-y: scroll;
    position: absolute;
    bottom: 15px;

    @include media_min($desktop) {
      height: 126px;
    }
  }

  &__text.is-shown ~ .hero-link {
    position: absolute;
    bottom: 0px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    margin-left: 120px;
    padding: 0;

    border-radius: 50%;
    border-color: transparent;
    outline: none;

    @include media_min($desktop) {
      margin-left: 180px;
      width: 26px;
      height: 26px;
    }
  }

  &__add-thumb {
    display: inline-block;
  }

  &__list,
  &__text,
  &__link {
    @include media_max($max-mobile) {
      display: none;
    }
  }

  &__link-image {
    fill: $accent-color;
    width: 5px;
    height: 4px;

    @include media_min($desktop) {
      width: 7px;
      height: 7px;
    }
  }
}

@include media_min($tablet) {
  .hero__link-milk:hover .hero__image-bio,
  .hero__link-milk:focus .hero__image-bio {
    transform: rotate(5deg) scale(1.07);
  }
}

@keyframes bounceInUp {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(50%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

// Custom scroll bar for IE Opera Chrome Safari
// width of the entire scrollbar
.hero__text::-webkit-scrollbar {
  width: 3px;

  @include media_min($desktop) {
    width: 6px;
  }
}

//  color of the tracking area
.hero__text::-webkit-scrollbar-track {
  background: rgba(216, 162, 176, 0.4);
}

//  color of the scroll thumb
//  roundness of the scroll thumb
//  creates padding around scroll thumb

.hero__text::-webkit-scrollbar-thumb {
  background-color: rgba(248, 121, 151, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(255, 145, 171, 0.479);

  @include media_min($desktop) {
    border-radius: 10px;
    border: 2px solid rgba(255, 145, 171, 0.479);
  }
}
