.hero {
  background-color: $bg-header;
  font-weight: 400;
}

.hero-thumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-title-box {
  max-width: 220px;

  @include media_min($tablet) {
    max-width: 162px;
  }

  @include media_min($desktop) {
    max-width: 277px;
  }
}

.hero-title {
  color: $accent-color;

  font-family: $secondary-font-family;
  //   font-weight: 400;
  font-size: 48px;
  line-height: 0.958;
  text-transform: uppercase;

  margin-bottom: 20px;

  @include media_min($tablet) {
    font-size: 34px;
    line-height: 0.912;
  }

  @include media_min($desktop) {
    margin-bottom: 25px;
    font-size: 58px;
    line-height: 0.897;
  }
}

.hero-title-label {
  display: inline-block;

  color: $white-text-color;

  font-size: 26px;
  line-height: 1.15;

  @include media_min($tablet) {
    font-size: 22px;
    line-height: 1.14;
  }
  @include media_min($desktop) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero-button {
  display: inline-block;
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;
  border-radius: 20px;

  color: $main-text-color;
  background-color: $accent-color;

  //   font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;

  @include media_min($desktop) {
    padding-top: 13px;
    padding-right: 22px;
    padding-bottom: 13px;
    padding-left: 22px;

    font-size: 14px;
    line-height: 1.29;
  }
}
.hero-button:hover,
.hero-button:focus {
  background-color: $bg-customers-reviews-dots;
}

.hero-button-pink {
  color: $accent-color;
  background-color: $white-text-color;
}

.hero-button-pink:hover,
.hero-button-pink:focus {
  background-color: $bg-button-hower;
}

.hero-item-number {
  color: $accent-color;

  font-family: $secondary-font-family;
  //   font-weight: 400;
  font-size: 28px;
  line-height: 1.14;

  @include media_min($desktop) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-item-unit {
  //   font-weight: 400;
  font-size: 8px;
  line-height: 10px;

  @include media_min($desktop) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-item:not(:last-child) {
  margin-bottom: 15px;
}

.hero-text {
  font-size: 8px;
  line-height: 1.5;

  @include media_min($desktop) {
    font-size: 14px;
    line-height: 1.4;
  }
}

// .hero-list {
//   display: none;
// }
