.hero {
  padding-top: 193px;
  padding-bottom: 160px;
  font-weight: 400;

  background-color: $bg-header;

  &-container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $max-mobile) {
      min-width: 320px;
      height: 502px;

      background-image: url(../images/MobilePhoto/heroMobile.png),
        url(../images/MobilePhoto/circleMobile.png);
      background-repeat: no-repeat;
      background-size: 171px, 289px;
      background-position: top 92px left 117px, top 83px right 0px;
    }
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      padding-top: 102px;
      padding-bottom: 33px;

      min-width: $tablet;
      height: 399px;

      background-image: url(../images/TabletPhoto/tastyTablet.png),
        url(../images/TabletPhoto/bioEcoTablet.png),
        url(../images/TabletPhoto/heroTablet.png),
        url(../images/TabletPhoto/circleTablet.png);
      background-repeat: no-repeat;
      background-size: 168px, 124px, 171px, 289px;
      background-position: top 266px left 566px, top 245px left 34px,
        top 63px left 378px, top 31px right 307px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 171px;
      padding-bottom: 56px;
      min-width: 1280px;
      height: 665px;

      background-image: url(../images/DesktopPhoto/tastyDesktop.png),
        url(../images/DesktopPhoto/bioEcoDesktop.png),
        url(../images/DesktopPhoto/heroDesktop.png),
        url(../images/DesktopPhoto/circleDesktop.png);
      background-repeat: no-repeat;
      background-size: 293px, 188px, 236px, 538px;
      background-position: top 433px left 878px, top 429px left 77px,
        top 108px left 594px, top 52px right 475px;
    }
  }

  &-thumb {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media_min($tablet) {
      margin-bottom: 66px;
    }
    @include media_min($desktop) {
      margin-bottom: 112px;
    }
  }

  &-title-box {
    max-width: 220px;

    @include media_min($tablet) {
      max-width: 162px;
    }

    @include media_min($desktop) {
      max-width: 277px;
    }
  }

  &-title {
    color: $accent-color;

    font-family: $secondary-font-family;
    //   font-weight: 400;
    font-size: 48px;
    line-height: 0.958;
    text-transform: uppercase;

    margin-bottom: 20px;

    @include media_min($tablet) {
      font-size: 34px;
      line-height: 0.912;
    }

    @include media_min($desktop) {
      margin-bottom: 25px;
      font-size: 58px;
      line-height: 0.897;
    }
  }

  &-title-label {
    display: inline-block;

    color: $white-text-color;

    font-size: 26px;
    line-height: 1.15;

    @include media_min($tablet) {
      font-size: 22px;
      line-height: 1.14;
    }
    @include media_min($desktop) {
      font-size: 38px;
      line-height: 1.16;
    }
  }

  &-button {
    display: inline-block;
    padding-top: 8px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 13px;
    border-radius: 20px;

    color: $main-text-color;
    background-color: $accent-color;

    //   font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;

    @include media_min($desktop) {
      padding-top: 13px;
      padding-right: 22px;
      padding-bottom: 13px;
      padding-left: 22px;

      font-size: 14px;
      line-height: 1.29;
    }
  }
  &-button:hover,
  &-button:focus {
    background-color: $bg-customers-reviews-dots;
  }

  &-button-pink {
    color: $accent-color;
    background-color: $white-text-color;
  }

  &-button-pink:hover,
  &-button-pink:focus {
    background-color: $bg-button-hower;
  }

  &-item-number {
    color: $accent-color;

    font-family: $secondary-font-family;
    //   font-weight: 400;
    font-size: 28px;
    line-height: 1.14;

    @include media_min($desktop) {
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &-item-unit {
    //   font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    @include media_min($desktop) {
      font-size: 14px;
      line-height: 1.28;
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &-text {
    max-width: 114px;
    margin-left: 120px;
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;

    @include media_min($desktop) {
      max-width: 200px;
      margin-left: 180px;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 1.4;
    }
  }
  &-link {
    margin-left: 120px;

    @include media_min($desktop) {
      margin-left: 180px;
    }
  }

  &-list,
  &-text,
  &-link {
    @include media_max($max-mobile) {
      display: none;
    }
  }
}
