.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .locations {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.locations {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 30;

  padding: 40px 15px;
  background: $bg-header;

  overflow-y: auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $max-responsive-mobile) {
    width: 100%;
    transform: scale(1);
  }

  @media screen and (min-width: $mobile) {
    width: 480px;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
  }

  @media screen and (min-width: $tablet) {
    width: 600px;
  }

  @media screen and (min-width: $desktop) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 950px;
    min-height: 600px;

    padding: 40px 20px;
  }

  &-icon {
    padding-top: 2px;
    stroke: $accent-color;
  }

  &-button {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: transparent;

    @extend %button-white;

    @media screen and (min-width: $tablet) {
      top: 19px;
      right: 27px;
    }

    @media screen and (min-width: $desktop) {
      top: 23px;
      right: 34px;
    }
  }

  &-tittle {
    margin: 0;
    margin-bottom: 30px;

    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $accent-color;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 58px;
    }
  }

  &-list {
    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-gap: 20px;
      grid-template-rows: 30% 40% 30%;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }

  &-item {
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 100%px;
    }
  }

  &-item:not(:last-child) {
    margin: 20px 0;
    padding-top: 5px;
    border-top: 1px solid $accent-color;

    @media screen and (min-width: $desktop) {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  &-item:nth-child(2n + 1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-list-tittle {
    margin-top: 0;
    margin-bottom: 10px;

    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: $accent-color;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &-list-address {
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.13;
    letter-spacing: 0.02em;
    text-align: center;

    color: $black-text-color;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &-button-map {
    display: block;
    margin: auto auto;
    width: 150px;
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.31;

    text-align: center;

    padding: 10px 10px;

    @extend %button-white;
    border-radius: 22px;
    border: none;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}
