.products-card {
  position: relative;

  width: 280px;
  height: 485px;
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  &__picture {
    margin-left: 15px;
    margin-right: 15px;
  }

  &.pink {
    background-color: $bg-header;
  }

  &.yellow {
    background-color: $bg-orange;
  }

  &.green {
    background-color: $bg-green;
  }
}

.products-label {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: $secondary-text-color;
  margin-bottom: 15px;
}

.products-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  margin-bottom: 31px;
}

.productrs-card {
  &__title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.products-card {
  &__text {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;

    text-align: center;
    letter-spacing: 0.04em;

    margin: 30px 40px;
  }
}

.products-item:not(:last-child) {
  margin-bottom: 130px;
}
