.products {
  margin-top: 122px;
}

.products-card {
  position: relative;
  height: 485px;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;

  &__pictur {
    margin-left: auto;
    margin-right: auto;
  }

  &.pink {
    background-color: $bg-header;
  }

  &.yellow {
    background-color: $bg-orange;
  }

  &.green {
    background-color: $bg-green;
  }

  &__button {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: none;
    fill: $bg-customers-reviews-dots;
  }
}

.product-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.product-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  text-align: center;
  letter-spacing: 0.04em;

  margin: 30px 40px;
}

.prodbtn-icon {
  display: block;
}

.products-label {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: $secondary-text-color;
  margin-bottom: 15px;
}

.products-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  margin-bottom: 144px;
}

.product-positions {
  position: absolute;
  top: -113px;
}
.products-item:not(:last-child) {
  margin-bottom: 130px;
}
.btn-position {
  position: absolute;
  // left: 120px;
}

@media screen and (min-width: $mobile) and (max-width: $max-mobile) {
  .products-card {
    width: 280px;
    &__pictur {
      margin-bottom: 22px;
    }
  }
  .products-item:not(:last-child) {
    margin-bottom: 130px;
  }

  .btn-position {
    position: absolute;
    left: 120px;
  }
}

@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  .products-label {
    font-size: 26px;
    line-height: 30px;
  }

  .products-title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 122px + 39px;
  }

  .product-positions {
    position: absolute;
    top: -122px;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }
  .products-item:not(:last-child) {
    margin-right: 20px;
  }
  .products-card {
    width: 220px;
  }
  .products-card {
    &__pictur {
      margin-bottom: 30px;
    }

    &__button {
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 40px;
    }
  }
  .product-text {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 11px;
    margin-right: 11px;

    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;

    text-align: center;
    letter-spacing: 0.04em;
  }

  .btn-position {
    position: absolute;
    left: auto;
  }
}

@media screen and (min-width: $desktop) {
  .products-label {
    font-size: 30px;
    line-height: 34px;
  }

  .products-title {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 259px;
  }

  .product-positions {
    position: absolute;
    top: -210px;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }
  .products-item:not(:last-child) {
    margin-right: 30px;
  }
  .products-card {
    width: 329px;
    height: 525px;
  }
  .product-title {
    font-size: 30px;
    line-height: 34px;
    margin-top: 38px;
    margin-bottom: 32px;
  }
  .product-text {
    font-size: 16px;

    margin-bottom: 62px;
    margin-left: 44px;
    margin-top: 32px;
    margin-right: 44px;
  }

  .btn-position {
    position: absolute;
    bottom: 5px;
    right: 144px;
  }
}

.products-dots {
  display: flex;
  justify-content: center;

  & .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white-text-color;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
